.redes-olx {
  background-color: #080a83; }

.redes-wpp {
  background-color: #3fd113; }

.redes-ig {
  background-color: #bd2cbd; }

.redes-fb {
  background-color: blue; }

.redes-agro {
  background-color: #71ff39; }

@media screen and (min-width: 1024px) {
  #gridAreas {
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 120px 50px auto 225px;
    color: #fefefe;
    background-color: #36393f;
    height: fit-content;
    /* header y nav */
    /* cuerpo index */
    /* footer */ }
    #gridAreas header {
      grid-area: header; }
      #gridAreas header img {
        padding-left: 10px;
        padding-top: 10px;
        width: 100px; }
    #gridAreas nav {
      grid-area: nav;
      background-color: #202225; }
      #gridAreas nav ul {
        display: flex;
        justify-content: space-evenly; }
        #gridAreas nav ul div {
          width: 120px;
          height: 25px;
          text-align: center;
          margin-top: 12px;
          font-size: large;
          background-color: #8b0909;
          color: #fefefe; }
    #gridAreas #cuerpoindex {
      grid-area: main;
      margin: 20px 50px 20px 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      #gridAreas #cuerpoindex h6 {
        width: 50%; }
    #gridAreas #carouselExampleControls {
      width: 500px; }
    #gridAreas footer {
      grid-area: footer;
      display: flex;
      justify-content: space-between;
      background-color: #202225;
      color: #fefefe; }
      #gridAreas footer div {
        width: 50px;
        height: 50px;
        text-align: center;
        margin: 10px;
        font-size: large;
        color: #fefefe; }
      #gridAreas footer #redes {
        display: flex;
        flex-direction: row; }
      #gridAreas footer #direc {
        padding-left: 10px;
        padding-top: 10px;
        display: flex; } }

@media screen and (max-width: 480px) {
  #gridAreas {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-columns: 100%;
    color: #fefefe;
    background-color: #36393f;
    height: fit-content;
    /* header y nav */
    /* cuerpo index */
    /* footer */ }
    #gridAreas header {
      grid-area: header; }
      #gridAreas header img {
        padding-left: 10px;
        padding-top: 10px;
        width: 100px; }
    #gridAreas nav {
      grid-area: nav;
      background-color: #36393f; }
      #gridAreas nav ul {
        display: flex;
        justify-content: space-evenly; }
        #gridAreas nav ul div {
          width: 120px;
          height: 25px;
          text-align: center;
          font-size: large;
          background-color: #8b0909;
          color: #fefefe; }
    #gridAreas #cuerpoindex {
      grid-area: main;
      margin: 20px;
      color: #fefefe; }
      #gridAreas #cuerpoindex h6 {
        width: 100%; }
    #gridAreas #carouselExampleControls {
      width: 100%;
      padding-bottom: 20px; }
    #gridAreas footer {
      grid-area: footer;
      display: flex;
      background-color: #36393f;
      color: #fefefe;
      flex-direction: column-reverse; }
      #gridAreas footer div {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: large;
        background-color: #8b0909;
        color: #fefefe; }
      #gridAreas footer #redes {
        display: flex;
        flex-direction: row; }
      #gridAreas footer #direc {
        padding-left: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        text-align: center; } }

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 1023px) {
  #gridAreas {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-columns: 100%;
    color: #fefefe;
    background-color: #36393f;
    height: fit-content;
    /* header y nav */
    /* cuerpo index */
    /* footer */ }
    #gridAreas header {
      grid-area: header; }
      #gridAreas header img {
        padding-left: 10px;
        padding-top: 10px;
        width: 100px; }
    #gridAreas nav {
      grid-area: nav;
      background-color: #36393f; }
      #gridAreas nav ul {
        display: flex;
        justify-content: space-evenly; }
        #gridAreas nav ul div {
          width: 120px;
          height: 25px;
          text-align: center;
          font-size: large;
          background-color: #8b0909;
          color: #fefefe; }
    #gridAreas #cuerpoindex {
      color: #fefefe;
      grid-area: main;
      display: flex;
      flex-direction: row;
      margin: 20px;
      justify-content: space-evenly; }
      #gridAreas #cuerpoindex h6 {
        width: 40%; }
    #gridAreas #carouselExampleControls {
      width: 500px; }
    #gridAreas footer {
      grid-area: footer;
      display: flex;
      justify-content: space-between;
      background-color: #36393f;
      color: #fefefe; }
      #gridAreas footer div {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: large;
        background-color: #8b0909;
        color: #fefefe; }
      #gridAreas footer #redes {
        display: flex;
        flex-direction: row; }
      #gridAreas footer #direc {
        padding-left: 10px;
        padding-top: 10px;
        display: flex; } }

.redes-olx {
  background-color: #080a83; }

.redes-wpp {
  background-color: #3fd113; }

.redes-ig {
  background-color: #bd2cbd; }

.redes-fb {
  background-color: blue; }

.redes-agro {
  background-color: #71ff39; }
