@import "variables";

@media screen and (min-width: 1024px){
   #gridAreas {
      display: grid;
      grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main"
      "footer footer footer";
      grid-template-columns: 10% auto 10%;
      grid-template-rows: 120px 50px auto 225px; 

      color:$colortipografia;
      background-color: $colorfondo;
      height: fit-content;
        
        
      /* header y nav */ 
        
      header {
         grid-area: header;
         img {
            padding-left: 10px;
            padding-top: 10px;
            width: 100px;
         }
     }

      nav {
         grid-area: nav;
         background-color: $colorbandas;
         ul {
            display: flex;
            justify-content: space-evenly;
            div {
               @include botones(120px,25px,center);
               margin-top: 12px;
               font-size: large;
               background-color: $colordiv;
               color:$colortipografia
            }
         }    
      }
    

     /* cuerpo index */
            
      #cuerpoindex {
         grid-area: main;
         margin: 20px 50px 20px 50px;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         h6 {
            width: 50%;
         }
      }
      
      #carouselExampleControls{
         width: 500px;
      }
    

        
      /* footer */ 
            
      footer {
         grid-area: footer;
         display: flex;
         justify-content: space-between;
         background-color: rgb(32, 34, 37);
         color:$colortipografia;
         div {
            @include botones(50px,50px,center);
            margin:10px;
            font-size: large;
            color:$colortipografia;
         }
         #redes {
            display: flex;
            flex-direction: row;
         }
         #direc {
            padding-left: 10px;
            padding-top: 10px;
            display: flex;
         }
      } 
   }
}







@media screen and (max-width: 480px) {
   #gridAreas {
      display: grid;
      grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
      grid-template-columns: 100%;

      color: $colortipografia;
      background-color: $colorfondo;
      height: fit-content;

      /* header y nav */ 
     
      header {
         grid-area: header;
         img {
            padding-left: 10px;
            padding-top: 10px;
            width: 100px;
         }
      }

      
      nav {
         grid-area: nav; 
         background-color: $colorfondo;
         ul {
            display: flex;
            justify-content: space-evenly;
            div {
               @include botones(120px,25px,center);
               font-size: large;
               background-color: $colordiv;
               color:$colortipografia
            }       
         }  
      }
      
      
      
      /* cuerpo index */
      
      #cuerpoindex {
         grid-area: main;
         margin: 20px;
         color: $colortipografia;
         h6 {
            width: 100%;
         }   
      }
      
      #carouselExampleControls{
         width: 100%;
         padding-bottom: 20px;
      }
      
         
      /* footer */ 
      
      footer {
         grid-area: footer;
         display: flex;
         background-color: $colorfondo;
         color:$colortipografia;
         flex-direction: column-reverse;
         div {
            @include botones(50px,50px,center);
            font-size: large;
            background-color: $colordiv;
            color:$colortipografia
         }
         #redes {
            display: flex;
            flex-direction: row;
         }
         #direc {
            padding-left: 10px;
            padding-top: 10px;
            display: flex;
            flex-direction: row;
            text-align: center;
         }
      }
   }
}
     





/*Tablet*/

@media screen and (min-width: 481px) and (max-width:1023px) {
   #gridAreas {
      display: grid;
      grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
      grid-template-columns: 100%;

      color: $colortipografia;
      background-color: $colorfondo;
      height: fit-content;


      /* header y nav */ 
     
      header {
         grid-area: header;
         img {
            padding-left: 10px;
            padding-top: 10px;
            width: 100px;
         }
      }
  
      nav {
        grid-area: nav;
        background-color: $colorfondo;
        ul {
            display: flex;
            justify-content: space-evenly;
            div {
               @include botones(120px,25px,center);
               font-size: large;
               background-color: $colordiv;
               color:$colortipografia
            }   
         }
      }
     
     /* cuerpo index */
     
     #cuerpoindex {
       color: $colortipografia;
        grid-area: main;
        display: flex;
        flex-direction: row;
        margin: 20px;
        justify-content: space-evenly;
        h6 {
          width: 40%;
         }
      }
     
     #carouselExampleControls{
        width: 500px;
      }
     

      /* footer */ 
     
     footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        background-color: $colorfondo;
        color:$colortipografia;
        div {
            @include botones(50px,50px,center);
            font-size: large;
            background-color: $colordiv;
            color:$colortipografia
         }
         #redes {
            display: flex;
            flex-direction: row;
         }
        #direc {
            padding-left: 10px;
            padding-top: 10px;
            display: flex;
        }   
      }
   }
}  

@import "variables";